<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd6sHBItvr0OJRzc7YTDdd6RzdUrRGmLo</string>
	<key>GCM_SENDER_ID</key>
	<string>574848695018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tv.accedo.build-ios-deeplinks-collection</string>
	<key>PROJECT_ID</key>
	<string>deeplinks-collection-e558b</string>
	<key>STORAGE_BUCKET</key>
	<string>deeplinks-collection-e558b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574848695018:ios:2eb5f4dfac26b303867593</string>
	<key>DATABASE_URL</key>
	<string>https://deeplinks-collection-e558b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>